/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body{
    margin: 0px;
}
md-toolbar{
    min-height: 50px;    
}
md-toolbar-row.mat-toolbar-row{
    height: 50px; 
}
.app-content{
    padding: 20px;
}